<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/carousel.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <title>Create a listing</title>
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <img class="primary-icon" src="../static/images/makers-logo.png" class="logo">

        <ul class="nav-list navbar-nav me-auto mb-2 mb-md-0" id="navi-list">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account">My account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Signout</a>
            </li>
        </ul>
    </div>

    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>

    {% if filename %}
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}" style="max-width: 300px; max-height: auto">
    </div>
    {% endif %}
    
    <form class="listing-form" action="/index" method="POST" enctype="multipart/form-data">
        <h2>List a space</h2>
        <p>
            <label for="name"> Name</label><br>
            <input type="text" name="name" id="name">
        </p>
        <p>
            <label for="location">Location</label><br>
            <input type="text" name="location" id="location">
        </p>
        <p>
            <label for="price">Price per night</label><br>
            <input type="text" name="price" id="price">
        </p>
        <p>
            <label for="description">Description</label><br>
            <input type="text" name="description" id="description">
            <br>
            <br>
            <label for="file">Select an image to upload</label><br>
            <dl>
                <p>
                    <input type="file" name="file" id="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit" class="btn btn-info">
            </p>

        </form>
        <!--<p>
            <label for="booking_start">Available from (DD/MM/YY)</label><br>
            <input type="text" name="booking-start" id="booking-start">
        </p>
        <p>
            <label for="booking_end">Available to (DD/MM/YY)</label><br>
            <input type="text" name="booking-end" id="booking-end">
        </p>-->
        <!-- <p>!!
        <input type="submit" value="List my space" href="index.html">
        </p> -->
    </form>
</body>
</html>