<!DOCTYPE html>
<html lang="en">
    <head>
      <title>MakersBnB</title>
      <link rel="stylesheet" href="style.css" >
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap" rel="stylesheet">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <meta charset="UTF-8">
    </head>

    <body>
        <h1>{{space.name}}</h1>
        <!-- Can we add user name and review to a listing - add to user database, and pull into relevant routes -->
        <p>
        Location: {{space.location}} <br>
        Description: {{space.description}} <br>
        Price per night: {{space.price}}
        </p>
    </body>
</html>