body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.booking-container {
  padding-top: 10px;
}

#back-button {
  text-decoration: none;
  color: white;
}

.back-button-requests {
  margin-top: 20px;
  margin-bottom: 20px;
}
