body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

div.container {
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.space-info {
  max-width: 400px;
}

.spaceid-image {
  width: 600px;
  height: 600px; 
  border-radius: 7px; 
  margin-bottom: 30px;
}

