<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/account.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
  </head>

  <body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="nav-link active" aria-current="page" href="/index">
        <img
          class="primary-icon"
          src="/static/images/paperplane.png"
          class="logo"
          style="width: 60px"
        />
      </a>
      <ul class="nav-list navbar-nav me-auto mb-2 mb-md-0" id="navi-list">
        <li class="nav-item">
          <a class="nav-link" href="/account">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Signout</a>
        </li>
      </ul>
    </div>

    <div class="accounts-grid">
      <div class="accounts-wrapper">
        <a href="/host"><img class="account-image" src="/static/images/house.png"></a>
        <h3><a href="/host" id="host-link">&nbsp;Host</a></h3>
      </div>
  
      <div class="accounts-wrapper">
        <a href="/guest"><img class="account-image" src="/static/images/suitcase.png"/></a>
        <h3><a href="/guest" id="guest-link">Guest</a></h3>
      </div>
      
  </body>
</html>
