<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your account</title>
    <link rel="stylesheet" href="/static/css/guest.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
  </head>

  <body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="nav-link active" aria-current="page" href="/index">
        <img
          class="primary-icon"
          src="../static/images/paperplane.png"
          class="logo"
          style="width: 60px"
        />
      </a>

      <ul class="nav-list navbar-nav me-auto mb-2 mb-md-0" id="navi-list">
        <li class="nav-item">
          <a class="nav-link" href="/account">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Signout</a>
        </li>
      </ul>
    </div>

    <div
      class="booking-container"
      id="unapproved"
      style="
        text-align: center;
        border-style: solid;
        border-width: thin;
        padding-bottom: 20px;
        min-height: 200px;
      "
    >
      <h1 style="text-align: center">Bookings awaiting approval</h1>
      {% for booking in unapproved %} {% set space_name =
      space_names[booking.space_id] %} {% if space_name %}
      <h3>Property: {{ space_name }}</h3>
      <p>Date booked: {{ booking.date_booked }}</p>
      {% endif %} {% endfor %}
    </div>

    <div
      class="booking-container"
      id="approved"
      style="
        text-align: center;
        border-style: solid;
        border-width: thin;
        padding-bottom: 20px;
        min-height: 200px;
      "
    >
      <h1>Confirmed bookings</h1>
      {% for booking in approved %} {% set space_name =
      space_names[booking.space_id] %} {% if space_name %}
      <h3>Property: {{ space_name }}</h3>
      <p>Date booked: {{ booking.date_booked }}</p>
      {% endif %} {% endfor %}
    </div>
  </body>
</html>
