    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        
        <form action="" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            
            <input type="submit" value="Login">
        </form>
        <p>
            {{error_message}} <br>
            {{signup_prompt}}
        </p>
    </body>
    </html>