<!DOCTYPE html>
<html lang="en">
    <head>
      <title>MakersBnB</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap" rel="stylesheet">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta charset="UTF-8">
    </head>

    <body>

       {% for booking in unapproved %}
        <form class = "grid" action ="/approvebooking" method = "POST">
        <p>{{booking}}</p>
        <input type="hidden" name="booking_id" value="{{booking.id}}">
        <input type="hidden" name="approver_id" value="{{booking.userid_approver}}">
        <input type="Submit" class="file_submit">
        </form>
        {% endfor %}

    </body>


</html>