<!DOCTYPE html>
<html lang="en">
    <head>
      <title>MakersBnB</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap" rel="stylesheet">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta charset="UTF-8">
    </head>

    <body>

      <h1>SUCCESS!</h1>
      <p>Your booking request has been sent to the property owner for approval. We hope you enjoy your holiday {{session.get('user')}}!</p>

    </body>


</html>